<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="https://ww2.sinaimg.cn/large/006tNc79ly1g63rne2hj0j306706bdfl.jpg">
  <title>FFS简易版性格分析测试</title>
  <meta name="keywords" content="FFS,FFS简易版,FFS性格分析测试,性格分析">
  <meta name="description" content="FFS理论（Five Factors & Stress）是一种独特的思维方式，它为管理者提供一种充分发挥下属的强项，从而提高团队竞争力的方法。FFS简易版性格分析测试是一个简化版的性格分析测试。">
</head>
<body>
  <div id="root"></div>
</body>
</html>
